.sinformato {
  text-decoration: none;
  font-style: italic;
  color: black; }

.carrusel {
  text-decoration: none;
  color: white;
  font-size: 7px; }

.encabezado {
  padding: 30px; }

.menu {
  margin-left: 60px; }

.menu1 {
  margin-right: 60px; }

.foot1 {
  margin-right: 80px; }

.foot2 {
  margin-left: 80px; }

a:hover {
  color: #a82871;
  font-weight: bold; }

body {
  background-color: lavenderblush; }

.texto {
  font-style: normal;
  font-weight: lighter;
  font-size: 15px;
  color: black; }

.texto--th4 {
  font-style: italic;
  font-weight: bold;
  color: darkmagenta; }

h1 {
  margin-top: 20px; }

form {
  gap: 100px; }

.galeria {
  width: 600px;
  height: 400px; }

.magenta {
  color: magenta; }

.ivory {
  color: ivory; }

.pink {
  color: pink; }

.yellow {
  color: yellow; }
