.sinformato {
    text-decoration: none;
    font-style: italic;
    color: black;
}
.carrusel {
    text-decoration: none;
    color: white;
    font-size: 7px;
}
.encabezado{
    padding: 30px;
}

.menu{
    margin-left: 60px;
}
.menu1{
    margin-right: 60px;
}
.foot1{
    margin-right: 80px;
}
.foot2{
    margin-left: 80px;
}

a:hover{
    color: rgb(168, 40, 113);
    font-weight: bold;
}

body{
    background-color: lavenderblush;
}
.texto{
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    color: black;
}
.texto--th4 {
    font-style: italic;
    font-weight: bold;
    color: darkmagenta;
}

h1 {
    margin-top: 20px;
}
form{
    gap: 100px;
}

@mixin tamano($width, $height) {   
    width: $width;
    height: $height;
}

.galeria {
    @include tamano(600px, 400px);
}

$lista: magenta, ivory, pink, yellow;
@each $color in $lista {
    .#{$color} {
        color: $color;
    }
}
